$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -30% auto 0;
  max-width: 600px;
  border: 2px dotted whitesmoke;
  color: whitesmoke;
}

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
    font-family: 'Times New Roman', Times, serif;
  }

.back-ground{
  background-image: url('./low-angle-photo-of-four-high-rise-curtain-wall-buildings-830891.jpg');
  background-repeat: no-repeat;
  //background-color: rgb(200,200,80);
 background-size:cover;

  

}

.height{
  height: 100%;
  width: 100%;
  margin: 100px;

}
.container {
  width: 100%;
  padding: 222px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0%;
}
h1, p,label{
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
}
#root > main > form{
  margin-top: -150px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
  width: auto;
  background-color: rgba(0,0,0,0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
  
}