.main-footer {
    align-items: center;
    align-content: center;
    border-bottom: 1px solid ;
    display: flex;
    height: 70px;
    padding: 0 280px;
    background-color: black;
    margin-top: -100px;
}  
h3,li{
    color: whitesmoke;
    font-family: fantasy;
    text-decoration: none dotted;
  }